.dot-elastic {
    position: relative;
    width: 20px; /* Increased width */
    height: 20px; /* Increased height */
    border-radius: 10px; /* Adjusted for larger dots */
    background-color: #000000;
    color: #000000;
    animation: dot-elastic 1s infinite linear;
  }
  
  .dot-elastic::before, .dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 20px; /* Increased width */
    height: 20px; /* Increased height */
    border-radius: 10px; /* Adjusted for larger dots */
    background-color: #000000;
    color: #000000;
  }
  
  .dot-elastic::before {
    left: -30px; /* Adjusted for larger dots */
    animation: dot-elastic-before 1s infinite linear;
  }
  
  .dot-elastic::after {
    left: 30px; /* Adjusted for larger dots */
    animation: dot-elastic-after 1s infinite linear;
  }
  
  @keyframes dot-elastic-before {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1, 1.5); }
    50% { transform: scale(1, 0.67); }
    75% { transform: scale(1, 1); }
    100% { transform: scale(1, 1); }
  }
  
  @keyframes dot-elastic {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1, 1); }
    50% { transform: scale(1, 1.5); }
    75% { transform: scale(1, 1); }
    100% { transform: scale(1, 1); }
  }
  
  @keyframes dot-elastic-after {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1, 1); }
    50% { transform: scale(1, 0.67); }
    75% { transform: scale(1, 1.5); }
    100% { transform: scale(1, 1); }
  }
  
  .snippet {
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    align-items: center;
  }
  